body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 0.8em;
    color: black
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.5;
}

.conatiner .blogpost {
    border: 5px solid black; 
}